@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Merriweather", serif;
	user-select: none;

	img {
		pointer-events: none;
	}

}

#bolder {
	font-family: "Anton", serif;
}

.techStack {
	margin: 0 5px;
	color:#f70853;
}
